@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Poppins:wght@600&family=Poppins:wght@400&family=Work+Sans&display=swap');
@import url('https://db.onlinewebfonts.com/c/028b4cfdfab5d1049178e9b1eb42f49e?family=Poppins+SemiBold');
$navbarFontFamily :'Poppins';
$navbarColor : #242f51 ;
$subheroColor: #888a8d ;

$bgColorFooter : #242f51 ;